@page
@model Eksamensplaner.Pages.AfleveringModel
@{
    ViewData["Title"] = "Aflevering";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Skema/Kalender </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Aflevering.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eksamensplaner.styles.css" asp-append-version="true" />
</head>
<body>
<section class="aflevering-section">
    <h1>Aflevering – Studerende</h1>

    <div class="aflevering-list">

        <div class="aflevering-header">
            <div>Elev</div>
            <div>Skolemail</div>
            <div>Har afleveret?</div>
            <div>Afleveringsdato</div>
        </div>

        @foreach (var elev in Model.Elever)
        {
            <div class="aflevering-row">
                <div>@elev.Navn</div>
                <div>@elev.SkoleEmail</div>
                <div>@(elev.HarAfleveret ? "Ja" : "Nej")</div>
                <div>
                    @(elev.AfleveretDato.HasValue 
                        ? elev.AfleveretDato.Value.ToString("yyyy-MM-dd HH:mm")
                        : "-")
                </div>
            </div>
        }
    </div>
</section>
</body>