@page
@model OversigtModel

@{
    ViewData["Title"] = "Oversigt over semestre";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Oversigt </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Oversigt.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eksamensplaner.styles.css" asp-append-version="true" />
</head>
<body class="Om-Zealand-Page">
<div class="Eksamen-page">
    <h1 class="title">Oversigt over eksamerne for semesterne</h1>
    <form method="get" class="Eksamen-filter">
        <div class="Filter-gruppe">
            <label for="SemesterFilter">Semester</label>
            <select id="semesterFilter" name="SemesterFilter">
                    <option value="0">Alle semestre</option>
                    <option value="1">1. semester</option>
                    <option value="2">2. semester</option>
                    <option value="3">3. semester</option>
                    <option value="4">4. semester</option>
                    <option value="5">5. semester</option>
            </select>
        </div>
        <button type="submit" class="filter-button">Filtrer</button>
    </form>
    <div class="eksamen-liste">
        @if (Model.Eksamener != null && Model.Eksamener.Count > 0)
        {
            foreach (var eksamen in Model.Eksamener)
            {
                <div class="Eksamen-kort">
                    <div class="eksamen-uddannelse">@eksamen.Uddannelse</div>
                    <div class="eksamen-aktivitet">@eksamen.Aktivitet</div>
                    <div class="eksamen-semester">@eksamen.Semester). semester</div>
                    <div class="eksamen-type">@eksamen.Type</div>
                </div>
            }
        }
        else
        {
            <p class="no-resultat">Ingen eksamener matcher dit filter.</p>
        }
        
    </div>
</div>
</body>
</html>
